Source: com.github.artemanufrij.findfileconflicts
Section: x11
Priority: optional
Maintainer: Artem Anufrij <artem.anufrij@live.de>
Build-Depends: meson,
               debhelper (>= 9),
               libgranite-dev,
               valac
Standards-Version: 3.9.3

Package: com.github.artemanufrij.findfileconflicts
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Find Conflict Files
 Helps to find conflict files, written especially for elementary OS
