Source: com.github.artemanufrij.findfileconflicts
Section: x11
Priority: optional
Maintainer: Artem Anufrij <artem.anufrij@live.de>
Build-Depends: debhelper (>= 9),
               gettext,
               libgranite-dev,
               meson,
               valac
Standards-Version: 4.1.1

Package: com.github.artemanufrij.findfileconflicts
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Find Conflict Files
 Helps to find conflict files, written especially for elementary OS
